pip install bitsandbytes==0.43.3
pip install transformers==4.47.0
pip install peft==0.14.0
pip install accelerate

pip install langchain_openai==0.2.12
pip install langchain_community==0.3.11
pip install langgraph==0.2.59